window {
    background-color: alpha(#2c2525, 0.95);
    border: 2px solid #e6d9db;
    font-family: monospace;
    font-size: 18px;
}

#input {
    background-color: #2c2525;
    color: #e6d9db;
    border: none;
    padding: 10px;
    margin: 0;
    font-family: monospace;
    font-size: 18px;
}

#input placeholder {
    opacity: 0.5;
}

#outer-box {
    padding: 20px;
}

#scroll {
}

#list {
}

#entry {
    padding-left: 14px;
}

#entry:selected {
    background: none;
}

#entry:selected #text {
    color: #f38d70;
}

#text {
    color: #e6d9db;
    padding: 14px 0;
    font-family: monospace;
    font-size: 18px;
}

#img {
    margin-right: 14px;
}
